.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    text-align: center;
}

.infected{
    border-bottom: 10px solid rgb(61, 144, 211);
    border-top: 10px solid rgb(61, 144, 211);
}

.recovered{
    border-bottom: 10px solid rgb(165, 248, 165);
    border-top: 10px solid rgb(165, 248, 165);

}

.deaths{
    border-bottom: 10px solid rgb(83, 3, 3);
    border-top: 10px solid rgb(83, 3, 3);

}

@media (max-width: 770px) {
    .card
    {
        margin: 2% 0 !important;
    }
}
